@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.quill-app .ql-container.ql-snow {
  height: 200px;
}

.job_description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color, #333); 
}

.dark .job_description {
  color: #e0e0e0; 
}

.dark .ql-toolbar.ql-snow{
  border: 1px solid #222f44 !important;
}

.dark .ql-container.ql-snow{
  border: 1px solid #222f44 !important;
}
.error .ql-toolbar.ql-snow{
  border: 1px solid #fb2c36 !important;
}
.dark .ql-formats button svg{
  fill: white !important;
}

.error .ql-container.ql-snow{
  border: 1px solid #fb2c36 !important;
}

.dark .job_description span{
  background-color: transparent !important;
  color: #f8fafc !important;
}

.dark .job_description strong{
  background-color: transparent !important;
  color: #f8fafc !important;
}

.job_description h1, .job_description h2, .job_description h3 {
  font-size: 1.5em;
  margin: 1em 0 0.5em;
}

.job_description ul, .job_description ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.job_description li {
  margin-bottom: 0.5rem;
}

.job_description p {
  margin-bottom: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .app_container {
    @apply container m-auto px-4 md:px-6
  }
}


@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 251 86% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 25% 92%;
    --secondary-foreground: 222 47% 11%;

    --muted: 215 25% 92%;
    --muted-foreground: 215 25% 40%;

    --accent: 251 86% 95%;
    --accent-foreground: 222 89% 35%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 90%;
    --input: 214 32% 90%;
    --ring: 222 89% 55%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 10%;
    --foreground: 210 40% 98%;

    --card: 222 47% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 12%;
    --popover-foreground: 210 40% 98%;

   --primary: 251 86% 65%;
    --primary-foreground: 222 47% 10%;

    --secondary: 217 33% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 70%;

     --accent: 251 86% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 40%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 224 76% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}